/* Your CSS Code here. */
.main{
    Width: 200px;
    background-color: purple;
    border-left-color: green; 
    border-left-width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#heading{
    font-size: 20px;
    color: white;
    text-decoration: underline;
}